<%- include('partials/header_logged_in') %> 
<h1>User Favorites</h1>
<%- include('partials/alerts') %> 


<% uniqueTracks.forEach((fave) => { %>  <!-- ALSO would like to sort results for BOTH admin and non admin -->
    <p><%= fave.title %> </p>
    <p><%= fave.artist %> </p>
    <p><%= fave.explicit %> </p>
    <p><%= fave.durationMs %> </p>
    <% console.log(fave.preview_url) %>
    <% if (fave.preview_url === "") { %>
        <p>No Preview Available</p> 
    <% } else { %>
        <audio controls><source src="<%= fave.preview_url %>" /></audio> 
    <% } %> 
<!-- IF user.isAdmin THEN display total count of this track in the uniqueTracks -->


    <form method="POST" action="/favorites/<%=fave.spotify_id %>/?_method=DELETE">
        <input hidden type="text" name="spotify_id" value="<%= fave.spotify_id %>" />
        <input hidden type="text" name="userId" value="<%= fave.userId %>" />
        <button class="btn btn-light" type="submit">Remove Favorite</button>
      </form>
<% }) %>


<a href="/user">Go to Search</a>