
<%- include('partials/site_identity') %> 
<%- include('partials/header_logged_in') %> 

<h1 id="favorites_title">Favorite Workout Songs</h1>

<%- include('partials/alerts') %> 

<!-- CONVERSION FUNCTIONS -->
<% const msToMinutesSeconds = (ms) => { %>
    <%   let minutes = Math.floor(ms / 60000 ); %>
    <%   let seconds = ((ms % 60000) / 1000).toFixed(0); %>
    <%   return `${minutes}:${seconds < 10 ? '0' : ''}` + seconds; %>
    <% } %>
    
    <% const isExplicit = (bool) => { %>
      <%   return bool === true ? 'Yes' : 'No' %>
      <% } %>

<!-- FAVORITES -->
<div class="favorites">
<% uniqueTracks.forEach((fave) => { %>  <!-- ALSO would like to sort results for BOTH admin and non admin -->
    <div class="favorites_list">
    <p class="search_results_result"><span class="search_results_tag">Song:</span> <%= fave.title %> </p>
    <p class="search_results_result"><span class="search_results_tag">Artist:</span> <%= fave.artist %> </p>
    <p class="search_results_result"><span class="search_results_tag">Explicit:</span> <%= isExplicit(fave.explicit) %> </p>
    <p class="search_results_result"><span class="search_results_tag">Length:</span> <%= msToMinutesSeconds(fave.durationMs) %> </p>
    <% if (fave.preview_url === "") { %>
        <p class="search_results_result" id="no_preview">No Preview Available</p> 
    <% } else { %>
        <audio id="audio_controller" controls><source src="<%= fave.preview_url %>" /></audio> 
    <% } %> 
<!-- IF user.isAdmin - display total count of this track in the faves -->
<form method="POST" action="/user/favorites/<%= fave.spotify_id %>/?_method=DELETE">
    <input hidden type="text" name="spotify_id" value="<%= fave.spotify_id %>" />
    <input hidden type="text" name="userId" value="<%= userId %>" />
    <button class="fav_button" type="submit">Remove Favorite</button>
  </form>
</div>
<% }) %>
</div>

