<%- include('partials/site_identity') %> 
<%- include('partials/header_logged_in') %> 

<!-- SEARCH FORM -->
<div class="search_form">
<form class="search_container" method="GET" action="/user/:track" >
  <h2 id="search_form_title">Search by Song, Artist, or Album</h1>
  <input id="search_tracks" type="text" name="track" placeholder="Search" />
  <input id="search_submit" type="submit" />
</form>
</div>

<!-- CONVERSION FUNCTIONS -->
<% const msToMinutesSeconds = (ms) => { %>
<%   let minutes = Math.floor(ms / 60000 ); %>
<%   let seconds = ((ms % 60000) / 1000).toFixed(0); %>
<%   return `${minutes}:${seconds < 10 ? '0' : ''}` + seconds; %>
<% } %>

<% const isExplicit = (bool) => { %>
  <%   return bool === true ? 'Yes' : 'No' %>
  <% } %>

<!-- SEARCH RESULTS DISPLAY -->
  <div class="search_results">
<% if (tracks) { %> 
  <% tracks.forEach(track => { %>
  <div class="search_results_details">
        <p class="search_results_result"><span class="search_results_tag">Name:</span> <%= track.name %></p>
        <p class="search_results_result"><span class="search_results_tag">Artist:</span> <%= track.album.artists[0].name %></p>
        <p class="search_results_result"><span class="search_results_tag">Length:</span> <%= msToMinutesSeconds(track.duration_ms) %></p>
        <p class="search_results_result"><span class="search_results_tag">Explicit:</span> <%= isExplicit(track.explicit) %></p>
        <form method="POST" action="/user"> <!--Action = Route -->
          <input hidden type="text" name="id" value="<%= track.id %>">
          <input hidden type="text" name="title" value="<%= track.name %>">
          <input hidden type="text" name="artist" value="<%= track.album.artists[0].name %>">
          <input hidden type="text" name="durationMs" value="<%= track.duration_ms %>">
          <input hidden type="text" name="preview_url" value="<%= track.preview_url %>">
          <input hidden type="text" name="explicit" value="<%= track.explicit %>">
          <button class="fav_button" type="submit">Add to Favorites</button>
        </form>
      </div>
    <% }) %> 
<% } else {%>
<h4>No Results Matching Your Search</h4>
<% } %>

</div>




